diffusers
transformers
numpy>=2.0
opencv-python==4.12.0.88
imageio-ffmpeg
imageio
accelerate
safetensors>=0.4.0
ipykernel
matplotlib
tqdm
tensorboard
boto3
python-dotenv
decord
omegaconf
torchmetrics
scipy
torch-fidelity
pandas
tabulate
pyarrow
zstandard
